* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

:root {
    --bg-primary-color: rgb(17, 17, 17);
    --bg-secondary-color: rgb(34, 34, 34);
    --bg-active-color: rgb(233, 233, 233);

    --bg-danger-color: rgb(236, 41, 41);
    --bg-success-color: rgb(39, 167, 39);

    --font-primary-color: rgb(237, 237, 237);
    --font-secondary-color: rgb(200, 200, 200);
    --font-tertary-color: rgb(150, 150, 150);
    --font-active-color: rgb(24, 24, 24);

    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 3rem;

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-xxl: 3rem;

    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;

    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-xxl: 0.5rem;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--font-primary-color);
}

main {
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-xxl);
    display: flex;
    gap: var(--gutter-lg);
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    color: var(--font-active-color);
    cursor: pointer;
}

#reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--font-primary-color);
}

#download-btn {
    background-color: var(--bg-success-color);
    color: var(--font-primary-color);
}

main section .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

main section .bottom {
    width: 100%;
    padding: var(--padding-xxl);
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-sm);
    aspect-ratio: 5 / 2.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-sm);
    opacity: 0.6;
}

main section .bottom .placeholder i {
    font-size: 10rem;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
}

main section .right {
    width: 30%;
    padding: var(--padding-lg);
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-xl);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}

main section .right h2 {
    text-align: center;
}

main section .right .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}

main section .right .filter {
    width: 100%;
}

main section .right .filter input {
    width: 100%;
    margin-top: var(--margin-sm);
    outline: none;
    appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track {
    height: 3px;
    background-color: var(--bg-active-color);
    border-radius: 2px;
}

main section .right .filter input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    margin-top: -6.5px;
    background-color: red;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
}

canvas {
    max-width: 90%;
    max-height: 80vh;
    display: none;
}

.presets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gutter-md);
}

.presets .btn {
    height: 40px;
    padding: var(--padding-sm);
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    justify-content: center;
}